<%= javascript_include_tag "jquery.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "bootstrap.min" %>
<%= stylesheet_link_tag "navbarchild" %>
<nav class="navbar navbar-inverse" id = "headerMenu">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Biblioteca NYN</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/principal/inicio">Inicio</a></li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Libros <b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li><a href="/libros/index">Digitales/Físicos</a></li>
					<li><a href="/controller_name">Catálago</a></li>
				</ul>
            </li>
         <% if current_user.rol_id == 1 || current_user.rol_id == 2 %> 				
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/prestamos/index">Prestamos <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/areasconocimientos/index">Areas de conocimiento </a></li>
					<li><a href="/asignaturas/list">Asignaturas </a></li>
					<li><a href="/rols/list">Roles </a></li>
					<li><a href="/estudiantes/index">Estudiantes </a></li>
					<li><a href="/usuarios/index">Usuarios </a></li>
				</ul>
			</li>
		<%end%>	
         <% if current_user.rol_id == 1 || current_user.rol_id == 2 %> 				
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Mantenimientos <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/areasconocimientos/index">Areas de conocimiento </a></li>
					<li><a href="/asignaturas/list">Asignaturas </a></li>
					<li><a href="/rols/list">Roles </a></li>
					<li><a href="/estudiantes/index">Estudiantes </a></li>
					<li><a href="/usuarios/index">Usuarios </a></li>
				</ul>
			</li>
		<%end%>	
		<% if current_user.rol_id == 1 || current_user.rol_id == 2 %> 				
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Estadísticas <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/estadisticas/index">Descargas </a></li>
					<li><a href="/estadisticaprestamos/index">Prestamos </a></li>
				</ul>
			</li>
		<%end%>	
		<% if current_user.rol_id == 1 || current_user.rol_id == 2 %> 				
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/repprestamos/index">Prestamos </a></li>
				</ul>
			</li>
		<%end%>	
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sesión<span class="caret"></span></a>
				<ul class="dropdown-menu">	
					<li><%= render 'menu/login_items'%></li>	                
					
				</ul>
			</li>
		</ul>
	</div>
</nav>