<div class="container">
	<div class="form-horizontal">

			<!-- Form Name -->
		<legend ><h2 >Editar nombre del Rol</h2></legend>
	    <%=  form_for @rol, :url =>{:action => "update", :id =>@rol}  do |f| %>

	     <% if @rol.errors.any? %>
		    <% @rol.errors.full_messages.each do |message| %>
		    	<%if message != "User has already been taken" %>
		      		<div class="alert alert-danger" role="alert">
	  					<li><%= message %></li>
					</div>
		      	<%end%>	
		    <% end %>
	  	 <% end %>
	  	  <div class="form-group">
					<div class="col-md-5">
					  	<strong>ID: </strong> <%= @rol.id %><br />
					</div>  	
		 </div>
	  	 <div class="form-group">
					<div class="col-md-5">
					  	<label for="name" >Nombre:</label>  
					  	<%= f.text_field :name, :class => "form-control "   %>
					</div>  	
		 </div>
		 <div class="form-group" >
					<div class="col-md-2">
					  <%= f.submit "Guardar cambios" , class: "btn btn-primary" %>
					</div>  	
		 </div>

			<% end -%>
			<%= link_to 'Atrás', {:action => 'list'} %>	
	</div>
</div>			
