 <% if $errormsg !=nil && $errormsg !=''  %>
    <div class="alert alert-danger" role="alert">
        <%= $errormsg %>
    </div>
 <%end%>   
<% $errormsg =""%>
<div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Estudiante(s) </th> 
                <th></th>
                 <th><%= link_to "Añadir", {:controller => 'estudiantes', :action => 'new'} %></th>
              </tr>
            </thead>
            <tbody>
            <% @estudiantes.each do |c| %>
            <% nombre = "#{c.name} #{c.lastname}"%>
            <tr>   		
      			    <td ><%= link_to nombre, {:action => 'show', :id => c.id} -%></td>
                <td> <%= c.matricula %> </td>
                <% if current_user.rol_id == 1 %>
        			   	<td> <%= link_to 'Editar', {:controller => 'estudiantes', :action => "edit", :id => c.id} %></td>
                  <td><%= link_to "Borrar", {:controller => 'estudiantes', :action => 'destroy', :id => c.id }%></td>

                <%end%>  
             </tr>  
             <% end %>
            
            </tbody>
          </table>