<div class="row">
        <div >
          <table class="table" style="width: 100%;">
            <thead>
              <tr>
                <th style="width: 25%;">Nombre </th> 
                <th style="width: 25%;">apellido</th>
                <th style="width: 25%;">email</th>
                <th style="width: 10%;"></th>
                <th style="width: 15%;"><span class=""><%= link_to "Añadir", {:controller => 'usuarios', :action => 'new'} %></span> </th>
              </tr>
            </thead>
            <tbody>
            <tr>
            <% @usuarios.each do |c| %>
	            
  			    <td ><%= link_to c.name, {:controller => 'usuarios',:action => 'show', :id => c.id} -%></td>
            <td ><%= c.lastname %> </td>
            <td><%= c.email %> </td>
            <% if current_user.rol_id == 1 %>
    			   	<td> <%= link_to 'Editar', {:controller => 'usuarios',:action => "edit", :id => c.id} %></td>
    			   	<td><%= link_to "Borrar", {:controller => 'usuarios', :action => 'destroy',:id => c.id}%> </td>
            <%end%>  
             </tr>  
             <% end %>
       
            
            </tbody>
          </table>
        </div>