
 <div class="row">
        <div >
          <table class="table" style="width: 100%;">
            <thead>
              <tr>
                <th style="width: 25%;">LIBRO(S) </th> 
                <th style="width: 25%;">Asignatura</th>
                <th style="width: 25%;">Area de conocimiento</th>
                <th style="width: 10%;"></th>
                <th style="width: 15%;"><span class=""><%= link_to "Añadir", {:controller => 'libros', :action => 'new'} %></span> </th>
              </tr>
            </thead>
            <tbody>
            <% @libros.each do |c| %>
            <% if @controller == "libros" %>
               <% id = "#{c.libro_id}"%>
            <% else %>  
               <% id = "#{c.id}"%>
            <% end %>
            <% nombre = "#{c.title}"%>
            <tr>
	            
  			    <td ><%= link_to nombre, {:controller => 'libros',:action => 'show', :id => id} -%></td>
            <td ><%= c.nombre_asignatura %> </td>
            <td><%= c.nombre_area %> </td>
  			   	<td> <%= link_to 'Editar', {:controller => 'libros',:action => "edit", :id => id, :libro_id => id} %></td>
  			   	<td><%= link_to "Borrar", {:controller => 'libros', :action => 'destroy',:id => id, :libro_id => id }%> </td>
             </tr>  
             <% end %>
       
            
            </tbody>
          </table>
        </div>
     </div>   
</div>        