<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca NyN</title>
    <%= csrf_meta_tags %>
    
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'application','jquery','bootstrap-datepicker','jquery-migrate-3.0.0','jquery-1.11.1.min','jquery-ui.min', 'data-turbolinks-track' => true  %>
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
     <!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
     <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>-->
     <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
     <%#= javascript_include_tag "jquery.min", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => "reload" %>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "navbarchild" %>
     <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
  </head>
  <body style ="background-color: #fafafa" >
    <% if user_signed_in? %>
      <%= render 'menu/menu2' %>
    <% end %>
    <%= yield %>
  </body>
  <style>
      /* Start by setting display:none to make this hidden.
       Then we position it in relation to the viewport window
       with position:fixed. Width, height, top and left speak
       for themselves. Background we set to 80% white with
       our animation centered, and no-repeating */
      .modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        500;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
              url('<%= asset_path 'loader.gif' %>') 
              50% 50% 
              no-repeat;
      }

      /* When the body has the loading class, we turn
         the scrollbar off with overflow:hidden */
      body.loading {
        overflow: hidden;   
      }

      /* Anytime the body has the loading class, our
         modal element will be visible */
      body.loading .modal {
        display: block;
      }
    </style>
    <script>
      $body = $("body");
      $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
         ajaxStop: function() { $body.removeClass("loading"); }    
    });
    </script>
    <div class="modal"></div>

</html>
